node_modules
foxdb*.tgz
yarn-error.log
*.sqlite
*.db
*.db-wal
*.db-shm
docs/.vitepress/dist
docs/.vitepress/cache
docs/.vitepress/.temp
docs/api
dist
docs/guide/readme.md
docs/public/foxdb.svg
docs/public/og-banner.png
docs/plans
PLAN*
CPU.*.md
Heap.*.md
with_auto_index/Heap.*.md
with_auto_index/CPU.*.md
ins-bench-res.md
ins-bench.ts
